## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("/Users/dang/Documents/Bootcamp/World_weather_Analysis/Vacation_Search/WeatherPy_Database.csv")
vacation_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Descritpion
0,0,Faanui,PF,-16.4833,-151.7500,78.49,69,29,20.58,scattered clouds
1,1,Plouzane,FR,48.3833,-4.6167,62.78,77,0,14.97,clear sky
2,2,Deniliquin,AU,-35.5333,144.9667,50.72,59,0,7.11,clear sky
3,3,Castro,BR,-24.7911,-50.0119,52.57,96,100,8.86,overcast clouds
4,4,Bay-Khaak,RU,51.1667,94.5000,60.71,59,100,10.04,light rain

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 68
What is the maximum temperature you would like for your trip? 80

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = vacation_df.loc[(vacation_df["Max Temp"] <= max_temp) & \
                                       (vacation_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Descritpion
0,0,Faanui,PF,-16.4833,-151.7500,78.49,69,29,20.58,scattered clouds
9,9,Samarai,PG,-10.6167,150.6667,77.36,74,100,19.08,overcast clouds
12,12,Foindu,SL,7.4108,-11.5422,72.57,98,100,2.01,overcast clouds
14,14,Rikitea,PF,-23.1203,-134.9692,69.89,84,100,7.94,moderate rain
17,17,Vaini,TO,-21.2000,-175.2000,76.73,85,0,15.70,clear sky
21,21,Kargasok,RU,59.0556,80.8572,68.00,41,100,4.45,overcast clouds
24,24,Natchez,US,31.5604,-91.4032,73.62,78,100,13.80,overcast clouds
25,25,Isangel,VU,-19.5500,169.2667,77.14,86,10,11.81,clear sky
28,28,Carnarvon,AU,-24.8667,113.6333,73.53,65,0,10.09,clear sky
29,29,San Lawrenz,MT,36.0553,14.2040,79.86,74,0,2.30,clear sky

In [12]:
#Check the DataFrame has any null values
preferred_cities_df.count()

City_ID                230
City                   230
Country                230
Lat                    230
Lng                    230
Max Temp               230
Humidity               230
Cloudiness             230
Wind Speed             230
Current Descritpion    230
dtype: int64

In [13]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Descritpion", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

,City,Country,Max Temp,Current Descritpion,Lat,Lng,Hotel Name
0,Faanui,PF,78.49,scattered clouds,-16.4833,-151.7500,
9,Samarai,PG,77.36,overcast clouds,-10.6167,150.6667,
12,Foindu,SL,72.57,overcast clouds,7.4108,-11.5422,
14,Rikitea,PF,69.89,moderate rain,-23.1203,-134.9692,
17,Vaini,TO,76.73,clear sky,-21.2000,-175.2000,

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found .... skipping!")

Hotel not found .... skipping!
Hotel not found .... skipping!
Hotel not found .... skipping!
Hotel not found .... skipping!
Hotel not found .... skipping!
Hotel not found .... skipping!
Hotel not found .... skipping!
Hotel not found .... skipping!
Hotel not found .... skipping!
Hotel not found .... skipping!
Hotel not found .... skipping!
Hotel not found .... skipping!
Hotel not found .... skipping!
Hotel not found .... skipping!
Hotel not found .... skipping!
Hotel not found .... skipping!
Hotel not found .... skipping!
Hotel not found .... skipping!
Hotel not found .... skipping!
Hotel not found .... skipping!

In [16]:
hotel_df.head(5)

,City,Country,Max Temp,Current Descritpion,Lat,Lng,Hotel Name
0,Faanui,PF,78.49,scattered clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
9,Samarai,PG,77.36,overcast clouds,-10.6167,150.6667,Nuli Sapi
12,Foindu,SL,72.57,overcast clouds,7.4108,-11.5422,
14,Rikitea,PF,69.89,moderate rain,-23.1203,-134.9692,People ThankYou
17,Vaini,TO,76.73,clear sky,-21.2000,-175.2000,Keleti Beach Resort

In [27]:
import numpy as np

In [30]:
#Fill the empty space by the data Nan and then clearf the list
hotel_df["Hotel Name"].replace('', np.nan, inplace=True) 
clear_hotel_df = hotel_df.dropna()
hotel_df.head(10)

,City,Country,Max Temp,Current Descritpion,Lat,Lng,Hotel Name
0,Faanui,PF,78.49,scattered clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
9,Samarai,PG,77.36,overcast clouds,-10.6167,150.6667,Nuli Sapi
12,Foindu,SL,72.57,overcast clouds,7.4108,-11.5422,NaN
14,Rikitea,PF,69.89,moderate rain,-23.1203,-134.9692,People ThankYou
17,Vaini,TO,76.73,clear sky,-21.2000,-175.2000,Keleti Beach Resort
21,Kargasok,RU,68.00,overcast clouds,59.0556,80.8572,Hotel Kargasok
24,Natchez,US,73.62,overcast clouds,31.5604,-91.4032,Hampton Inn & Suites Natchez
25,Isangel,VU,77.14,clear sky,-19.5500,169.2667,Tanna Lodge
28,Carnarvon,AU,73.53,clear sky,-24.8667,113.6333,Hospitality Carnarvon
29,San Lawrenz,MT,79.86,clear sky,36.0553,14.2040,San Andrea Hotel

In [32]:
clear_hotel_df = hotel_df.dropna()
clear_hotel_df.head(10)

,City,Country,Max Temp,Current Descritpion,Lat,Lng,Hotel Name
0,Faanui,PF,78.49,scattered clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
9,Samarai,PG,77.36,overcast clouds,-10.6167,150.6667,Nuli Sapi
14,Rikitea,PF,69.89,moderate rain,-23.1203,-134.9692,People ThankYou
17,Vaini,TO,76.73,clear sky,-21.2000,-175.2000,Keleti Beach Resort
21,Kargasok,RU,68.00,overcast clouds,59.0556,80.8572,Hotel Kargasok
24,Natchez,US,73.62,overcast clouds,31.5604,-91.4032,Hampton Inn & Suites Natchez
25,Isangel,VU,77.14,clear sky,-19.5500,169.2667,Tanna Lodge
28,Carnarvon,AU,73.53,clear sky,-24.8667,113.6333,Hospitality Carnarvon
29,San Lawrenz,MT,79.86,clear sky,36.0553,14.2040,San Andrea Hotel
31,Esperance,AU,71.10,overcast clouds,-33.8667,121.9000,Hospitality Esperance

In [46]:
# Create the output file (CSV).
output_data_file = "/Users/dang/Documents/Bootcamp/World_weather_Analysis/Vacation_Search/WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
clear_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [37]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Current Description</dt><dd>{Current Descritpion}</dd>
</dl>
"""

In [49]:
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clear_hotel_df.iterrows()]

In [50]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clear_hotel_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))